@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import "reset.css";
@import "variables.css";
@import "to-do.css";

/* components */

body {
  font-family: "Pattaya";
  text-transform: capitalize;
}

ol {
  list-style: decimal;
  font-size: 20px;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.main-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
}
